.Introduction {
  background-color: rgb(41, 40, 40);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Introduction_bar {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin: 3% 0% 0% 4%;
}

.Introduction_bar_text {
  color: rgb(255, 255, 255);
}

.Introduction_bar_text_name {
  font-size: 6vw;
  margin-bottom: 3vh;
}

.Introduction_bar_text_title {
  font-size: 2vw;
  margin-bottom: 5vh;
}

.Introduction_bar_text_title_amp {
  margin-left: 6vw;
}

.Introduction_bar_text_resume {
  text-decoration: none;
  font-size: 2vw;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 133, 52);
  padding: 3%;
  border-radius: 12vw;
  transition: background-color 0.5s;
}

.Introduction_bar_text_resume:hover {
  background-color: rgb(172, 83, 23);
}

.Introduction_bar_logos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Introduction_bar_logos_logo {
  height: 4vw;
  width: 5vw;
  transition: background-color 0.5s;
  border-radius: 50%;
}

.Introduction_bar_logos_logo:hover {
  background-color: rgb(212, 209, 208);
  opacity: 0.99;
}

@media only screen and (max-width: 500px) {
  .Introduction {
    justify-content:flex-start
  }

  .Introduction_image {
    margin-top: 10vh;
    height: 30vh;
    width: 50vw;
    margin-bottom: 15vh;
  }

  .Introduction_bar {
    flex-direction: column;
    align-items: center;
  }

  .Introduction_bar_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Introduction_bar_text_name {
    font-size: 10vw;
  }

  .Introduction_bar_text_title {
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
  }

  .Introduction_bar_text_resume {
    font-size: 3vw;
    margin-bottom: 4vh;
  }

  .Introduction_bar_logos {
    width: 30vw;
    flex-direction: row;
  }
}