.Introduction {
  height: 100vh;
  background-color: #1f2029;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Introduction_bar {
  margin-top: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Introduction_bar_image {
  height: 40vh;
  width: 60vw;
  border-radius: 12px;
}

.Introduction_bar_name {
  font-size: 10vw;
  margin-top: 3vh;
}

.Introduction_bar_title {
  font-size: 5vw;
  margin-top: 3vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Introduction_bar_resume {
  text-decoration: none;
  background-color: #ee6414;
  color: #ffffff;
  border-radius: 10px;
  padding: 5%
}

.Introduction_bar_logos {
  margin-top: 7vh;
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}

.Introduction_bar_logos_logo {
  height: 5vh;
}